Repository lttr/timesheet-aggregator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,vue,gql,json,yml,mjs,css,scss,md}": "prettier --write",
  "*.{js,ts,vue,gql}": "eslint --fix",
  "*.{css,vue}": "stylelint --fix"
}

Use stylelint config standard
  .stylelintrc.json
  assets/styles/main.css
  package.json
Due: prettier --write, stylelint --fix

Reformat code
  .lintstagedrc
Due: none

Change import url style
  app.vue
Due: prettier --write, eslint --fix, stylelint --fix

Draft requirements
  README.md
Due: prettier --write

Playing with open-props
  app.vue
  assets/styles/main.css
  components/BaseButton.vue
  pages/index.vue
Due: prettier --write, eslint --fix, stylelint --fix

Try to use @t3-oss/t3-env library for environment variables
  app.config.ts
  env.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Update all dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write
